/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container styles */
.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

/* Header styles */
header {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(135deg, #ff6f61 0%, #ffbb58 100%);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Main content styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ff6f61;
}

/* Form styles */
form {
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #333;
}

button {
  background: linear-gradient(135deg, #ff6f61 0%, #ffbb58 100%);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  margin-left: 50px;
  margin-right: 50px;
  
}

button:hover {
  background: linear-gradient(135deg, #ffbb58 0%, #ff6f61 100%);
}

/* Task list styles */
.taskList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Task item styles */
.task {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.task h3 {
  font-size: 1.5em;
  color: #ff6f61;
  margin-bottom: 15px;
}

.task p {
  margin-bottom: 10px;
  color: #666;
}

.task button {
  margin-top: 15px;
}

/* Task details styles */
.task-details {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer styles */
footer {
  margin-top: 20px;
  padding: 15px 0;
  text-align: center;
  background:none;
  border-radius: 8px;
  color: #111;
  box-shadow:none;
  font-weight:bold;
  font-size: 10px;
}

/* Responsive styles */
@media (max-width: 600px) {
  form {
    max-width: none;
  }

  .taskList {
    grid-template-columns: 1fr;
  }
}

select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
}